
        <br>
        <br>
        <br>
<div class="row">
    <div class="col-8">
        <h1 class="text-left">Welcome to PetAdopt!</h1>
        <br>
        <p class="text-left">
            Pet adopt is an organization aiming to find a home for pets of all kinds. Whether their owners can no longer take care of them, or they have been rescued from mistreating enviroments, all pets need a warm and loving home to live in. If you would like to provide such a home, or have a pet you cannot take care of, this is the right place for you!
        </p>
    </div>
    <div class="col-4 text-center">
        <br>
        <h3>
            Author information
        </h3>
        <br>
        <p>Name: Marko Nović</p>
        <p>E-mail: markonvc"gmail.com</p>
    </div>
</div>
